html{
    height: 100%;
    width: 100%;
}

body{
    background-color: #212529;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    color: #e8ddd0;
    color: #7a6a5a;
    height: 100%;
    width: 100%;
}


header{

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.ceu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1000px;
    width: 100%;
    background-color: #0d0b0f;
}

.novidades{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border: 0 solid;
    border-radius: 10px;
    box-shadow: 0 0 50px #0d0b0f;
    height: 100%;
    width: 90%;
    padding: 2rem;
    margin-top: 3rem;
}
 


footer{

}

