html{
    width: 100%;
    min-height: 100%;
}

body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    background-color: #bfb3d4;
    color: #ffffff;
}

header{
    width: 100%;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: #212529;
    color: #fff;
    width: 100%;
    min-height: 100%;
}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: #212529;
    color: #fff;
    box-shadow: 0 0 30px #000000;
    width: 100%;
    height: 100%;
}

.camp-produtos{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: #212529;
    color: #fff;
    width: 100%;
    min-height: 100%;

}

.Produtos{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 10rem;
    border: 2px solid;
    border-color: #212529;
    padding: 2rem;
    box-shadow: 0 0 60px #000000;
    max-width: 90rem;
    border-radius: 10px;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    margin: 1rem;
}

.card-img-top{
    object-fit: cover;
    object-position: center;
    max-height: 18rem;

    border: 0 solid #ffffff;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
}

/* .card::before {
    content: "";
    position: absolute;
    top: -63%;
    left: -30%;
    z-index: 5;
    width: 155%;
    height: 113%;
    background-image: url('../assets/imgs/janela_gotica.png');
    background-repeat: no-repeat;
    background-size: 100%;
    pointer-events: none;
} */

.novidades{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 10rem;
    border: 2px solid;
    border-color: #212529;
    padding: 2rem;
    box-shadow: 0 0 60px #000000;
    max-width: 90rem;
    border-radius: 10px;
}

.group{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.card-produto{
    width: 18rem;
}

/* Para telas maiores*/
@media (max-width: 700px) {

.card-produto{
    width: 9rem;
}

.card-img-top{
    max-height: 9rem;
    aspect-ratio:1/1;
    overflow:hidden;
}

.popularG{
    flex-direction: column;
    align-items: center;
}

.popularM{
    flex-direction: row;
    justify-content: space-around;
}

.imagG{
    width: 95%;
    margin-bottom: 1rem;
}

.imagP{
    width: 45%;
}

.cards{
    justify-content:center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card{
    margin-bottom: 1rem;
    margin-inline: 0;
}


.forms{
    margin-bottom: 2rem;
}

}

